<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Goblin Fighter!</title>
    <link rel="stylesheet" href="css/rpg-awesome.min.css">
    <style>
      body {
        font-family: sans-serif;
        margin: 0;
        padding: 1rem;
      }
      [v-cloak] {
        display: none;
      }
      .button {
        border: 2px solid #666;
        width: 100%;
        display: block;
        font-size: 1.5rem;
        color: #222;
        border-radius: 3px;
        padding: .5rem;
        margin-bottom: 10px;
        font-weight: bold;
      }
      .attack-button {
        color: red;
        border: 2px solid red;
      }
      .button:focus {
        outline: none;
      }
      .button:hover {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1 style="margin-bottom: 5px;">Goblin Fighter!</h1>
      <p style="margin-top: 0; margin-bottom: 0;"><small>Goblins have been attacking your village. You chose the shortest straw. Armed with a wooden sword, you must kill the goblins in their nearby cave!</small></p>
      <hr style="border: none; border-top: 1px solid #ccc; margin-top: 1rem; margin-bottom: 1rem;"/>
      <div style="font-size: 1.25rem; margin-bottom: 14px;">
        Total Goblins Killed: <strong v-cloak>{{goblinsKilled}}</strong>
      </div>
      <div style="margin-bottom: 4px;">
        Your Hit Points: <strong v-cloak>{{player.hitPoints}}</strong>
      </div>
      <div>
        Goblin's Hit Points: <strong v-cloak>{{goblin.hitPoints}}</strong>
      </div>
      <br />
      <button class="button attack-button" v-if="player.hitPoints > 0 && goblin.hitPoints > 0" @click="playerAttack">Attack the Goblin! <i class="ra ra-sword"></i></button>
      <button class="button" v-cloak v-if="player.hitPoints <= 0" @click="resetGame">Play Again!</button>
      <div v-html="message"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script>
      function initialState() {
        return {
          message: '',
          goblinsKilled: 0,
          goblin: {
            armorClass: 15,
            firstAttack: true,
            hitPoints: 7,
            modifiers: {
              dex: 2
            },
            proficiencyBonus: 2
          },
          player: {
            armorClass: 10,
            hitPoints: 12,
            modifiers: {
              dex: 0,
              str: 3
            },
            proficiencyBonus: 2
          },
          resetGoblinPhase: false
        }
      }
      var vm = new Vue({
        el: '#app',
        data: function() {
          return initialState();
        },
        methods: {
          rollD20: function() {
            return Math.ceil(Math.random() * 20);
          },
          rollD4: function() {
            return Math.ceil(Math.random() * 4);
          },
          rollD6: function() {
            return Math.ceil(Math.random() * 6);
          },
          playerAttack: function() {
            this.message = '';
            var playerAttackModifier = this.player.proficiencyBonus + this.player.modifiers.str;
            if ((this.rollD20() + playerAttackModifier) >= this.goblin.armorClass) {
              this.playerHit();
            } else {
              this.message = this.message + '<p>You missed the goblin with your wooden sword!</p>';
            }
            if (this.resetGoblinPhase === true) {
              this.resetGoblinPhase = false;
              return;
            }
            if (this.goblin.hitPoints >= 1) {
              this.goblinAttack();
            }
          },
          playerHit: function() {
            var playerHitModifier = this.player.modifiers.str;
            var playerHitAmount = (this.rollD4() + playerHitModifier);
            this.goblin.hitPoints = (this.goblin.hitPoints - playerHitAmount);
            if (this.goblin.hitPoints <= 0) {
              this.message = this.message + '<p style="color: green;">You hit the goblin with your wooden sword for <strong>' + playerHitAmount + ' damage</strong> and kill it.</p>';
              this.resetGoblin();
              this.goblinsKilled = this.goblinsKilled + 1;
              this.message = this.message + '<hr style="border: none; border-top: 1px solid #ccc; margin-top: 1rem; margin-bottom: 1rem;"/><p style="color: red;">Oh no! Another goblin is attacking you!</p>';
            } else {
              this.message = this.message + '<p style="color: green;">You hit the goblin with your wooden sword for <strong>' + playerHitAmount + ' damage</strong>!</p>';
            }
          },
          goblinAttack: function() {
            var goblinAttackModifier = this.goblin.proficiencyBonus + this.goblin.modifiers.dex;
            if ((this.rollD20() + goblinAttackModifier) >= this.player.armorClass) {
              this.goblinHit();
              return;
            };
            this.message = this.message + '<p>The goblin tries to attack you with its sword, but misses!</p>';
          },
          goblinHit: function() {
            var goblinHitModifier = this.goblin.modifiers.dex;
            var goblinHitAmount = (this.rollD6() + goblinHitModifier)
            this.player.hitPoints = (this.player.hitPoints - goblinHitAmount);
            if (this.player.hitPoints <= 0) {
              this.message = this.message + '<p style="color: red;">The goblin hits you with its sword for <strong>' + goblinHitAmount + ' damage</strong> and kills you.<br /><hr style="border: none; border-top: 1px solid #ccc; margin-top: 1rem; margin-bottom: 1rem;" />Your village must send someone else!</strong></p>';
            } else {
              this.message = this.message + '<p style="color: red;">The goblin hits you with its sword for <strong>' + goblinHitAmount + ' damage</strong>.</p>';
            }
          },
          resetGame: function() {
            Object.assign(this.$data, initialState())
          },
          resetGoblin: function() {
            Object.assign(
              this.$data.goblin,
              this.goblin.hitPoints = 7,
              this.resetGoblinPhase = true
            )
          }
        }
      })
    </script>
  </body>
</html>
