<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Goblin Fighter!</title>
    <link rel="stylesheet" href="css/rpg-awesome.min.css">
    <style>
      body {
        font-family: sans-serif;
        margin: 0;
        padding: 1rem;
      }
      [v-cloak] {
        display: none;
      }
      .button {
        border: 2px solid #666;
        width: 100%;
        display: block;
        font-size: 1.5rem;
        color: #222;
        border-radius: 3px;
        padding: .5rem;
        margin-bottom: 10px;
        font-weight: bold;
      }
      .attack-button {
        color: red;
        border: 2px solid red;
      }
      .button:focus {
        outline: none;
      }
      .button:hover {
        cursor: pointer;
      }
      progress[value] {
        -webkit-appearance: none;
        appearance: none;
      }
      .goblin-health::-webkit-progress-value {
        background-color: #8b0000;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1 style="margin-bottom: 5px;">Goblin Fighter!</h1>
      <p style="margin-top: 0; margin-bottom: 0;"><small>Goblins have been attacking your village. You chose the shortest straw. Armed with a wooden sword, you must kill the goblins in their nearby cave!</small></p>
      <hr style="border: none; border-top: 1px solid #ccc; margin-top: 1rem; margin-bottom: 1rem;"/>
      <div style="font-size: 1.25rem; margin-bottom: 14px;">
        Total Goblins Killed: <strong v-cloak>{{goblinsKilled}}</strong>
      </div>
      <div style="margin-bottom: 14px;">
        Your Hit Points: <strong v-cloak>{{player.hitPoints}}</strong>
        <br />
        <progress max="12" :value="player.hitPoints">
      </div>
      <div style="margin-bottom: 12px;">
        Goblin's Hit Points: <strong v-cloak>{{goblin.hitPoints}}</strong>
        <br />
        <progress class="goblin-health" max="7" :value="goblin.hitPoints">
      </div>
      <br />
      <button class="button attack-button" v-if="player.hitPoints > 0 && goblin.hitPoints > 0" @click="nextRound">Attack the Goblin! <i class="ra ra-sword"></i></button>
      <button class="button" v-cloak v-if="player.hitPoints <= 0" @click="resetGame">Play Again!</button>
      <div v-html="message"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script>
      const constants = {
        HEADS: 'HEADS',
        TAILS: 'TAILS',
        FREE_POTION_LIMIT: 18,
        MAX_PLAYER_HEALTH: 12
      };
      const {
        HEADS,
        TAILS,
        FREE_POTION_LIMIT,
        MAX_PLAYER_HEALTH
      } = constants;
      function initialState() {
        return {
          message: '<p><strong>THE HOLY WAR OF MAN VERSUS GOBLIN HAS BEGUN</strong></p>',
          messages: [],
          goblinsKilled: 0,
          goblin: {
            armorClass: 15,
            firstAttack: true,
            hitPoints: 7,
            modifiers: {
              dex: 2
            },
            proficiencyBonus: 2
          },
          player: {
            armorClass: 10,
            hitPoints: MAX_PLAYER_HEALTH,
            modifiers: {
              dex: 0,
              str: 3
            },
            proficiencyBonus: 2
          },
          resetGoblinPhase: false
        }
      }
      var vm = new Vue({
        el: '#app',
        data: function() {
          return initialState();
        },
        methods: {
          rollD20: function() {
            return Math.ceil(Math.random() * 20);
          },
          rollD4: function() {
            return Math.ceil(Math.random() * 4);
          },
          rollD6: function() {
            return Math.ceil(Math.random() * 6);
          },
          flipCoin: function() {
            return Math.random() >= 0.5 ? HEADS : TAILS;
          },
          remainingHitPoints: function(hp, damage) {
            return Math.max(hp - damage, 0);
          },
          addMessage: function(message) {
            this.messages.push(message);
          },
          clearMessage: function() {
            this.message = '';
          },
          publishMessage: function() {
            this.message = this.messages.join('\n');
          },
          flushMessages: function() {
            this.messages = [];
          },
          generateMessage: function(text, type = 'info') {
            if (type === 'divider') {
              return '<hr style="border: none; border-top: 1px solid #ccc; margin-top: 1rem; margin-bottom: 1rem;" />';
            } else if (type === 'positive') {
              return '<p style="color: green;">' + text + '</p>';
            } else if (type === 'negative') {
              return '<p style="color: red;">' + text + '</p>';
            } else if (type === 'event') {
              return '<p style="color: blue;">' + text + '</p>';
            } else if (type === 'emphasized') {
              return '<strong style="color: #666;">' + text + '</strong>';
            }

            return '<p>' + text + '</p>';
          },
          nextRound: function() {
            this.clearMessage();
            this.flushMessages();

            this.playerAttack();
            this.surpriseItems();
            
            this.publishMessage();
          },
          playerAttack: function() {
            var playerAttackModifier = this.player.proficiencyBonus + this.player.modifiers.str;
            if ((this.rollD20() + playerAttackModifier) >= this.goblin.armorClass) {
              this.playerHit();
            } else {
              this.addMessage(this.generateMessage('You missed the goblin with your wooden sword!'));
            }
            if (this.resetGoblinPhase === true) {
              this.resetGoblinPhase = false;
              return;
            }
            if (this.goblin.hitPoints >= 1) {
              this.goblinAttack();
            }
          },
          playerHit: function() {
            var playerHitModifier = this.player.modifiers.str;
            var playerHitAmount = (this.rollD4() + playerHitModifier);
            this.goblin.hitPoints = this.remainingHitPoints(this.goblin.hitPoints, playerHitAmount);

            if (this.goblin.hitPoints === 0) {
              this.resetGoblin();
              this.goblinsKilled = this.goblinsKilled + 1;
              
              this.addMessage(this.generateMessage('You hit the goblin with your wooden sword for <strong>' + playerHitAmount + ' damage</strong> and kill it.', 'positive'));
              this.addMessage(this.generateMessage('', 'divider'));
              this.addMessage(this.generateMessage('<strong>Oh no! Another goblin is attacking you!</strong>', 'negative'));
            } else {
              this.addMessage(this.generateMessage('You hit the goblin with your wooden sword for <strong>' + playerHitAmount + ' damage</strong>!', 'positive'));
            }
          },
          goblinAttack: function() {
            var goblinAttackModifier = this.goblin.proficiencyBonus + this.goblin.modifiers.dex;
            if ((this.rollD20() + goblinAttackModifier) >= this.player.armorClass) {
              this.goblinHit();
              return;
            };
            this.addMessage(this.generateMessage('The goblin tries to attack you with its sword, but misses!'));
          },
          goblinHit: function() {
            var goblinHitModifier = this.goblin.modifiers.dex;
            var goblinHitAmount = (this.rollD6() + goblinHitModifier)
            this.player.hitPoints = this.remainingHitPoints(this.player.hitPoints, goblinHitAmount);
            
            if (this.player.hitPoints === 0) {
              this.addMessage(this.generateMessage('The goblin hits you with its sword for <strong>' + goblinHitAmount + ' damage</strong> and kills you.', 'negative'));
              this.addMessage(this.generateMessage('', 'divider'));
              this.addMessage(this.generateMessage('Your village must send someone else!', 'emphasized'));
            } else {
              this.addMessage(this.generateMessage('The goblin hits you with its sword for <strong>' + goblinHitAmount + ' damage</strong>.', 'negative'));
            }
          },
          surpriseItems: function() {
            // If u ded, u ded.
            // If u live, u live.
            if (this.player.hitPoints <= 0) {
              return;
            } else if (this.player.hitPoints >= MAX_PLAYER_HEALTH) {
              return;
            }
            
            // Luck check go!
            if (this.rollD20() > FREE_POTION_LIMIT) {
              // More luck check to see how much health the player gets back
              const isFullRecovery =  this.flipCoin() === HEADS;
              const recoveredHP = isFullRecovery ? MAX_PLAYER_HEALTH : 5;

              this.player.hitPoints = Math.min(this.player.hitPoints + recoveredHP, MAX_PLAYER_HEALTH);
              this.addMessage(this.generateMessage('The goblin dropped a potion! You recovered <strong>' + recoveredHP + ' HP</strong>!', 'event'));
            }
          },
          resetGame: function() {
            Object.assign(this.$data, initialState())
          },
          resetGoblin: function() {
            Object.assign(
              this.$data.goblin,
              this.goblin.hitPoints = 7,
              this.resetGoblinPhase = true
            )
          }
        }
      })
    </script>
  </body>
</html>
